<h1>
  <%= @article.title %>
  <%= link_to '<i class="fas fa-edit fa-xs"></i>'.html_safe, edit_article_path(@article)  %>
  <%= link_to '<i class="fas fa-trash-alt fa-xs"></i>'.html_safe,
              article_path(@article),
              method: :delete,
              data: {confirm: 'Are you sure?'}  %>

</h1>
<hr>
<p><%= @article.content %></p>
